@import '../../../../colors.less';


/*.search-input {
  width: 356px;
}

mat-form-field  {
  color: @whiteText !important;
  background: @searchBackground !important;
  padding: 16px 14px;
  margin: 0;
  border-radius: 12px 12px 0px 0px;
}

::ng-deep .mat-form-field-wrapper  {
  padding: 0px !important;
}

::ng-deep .mat-form-field-label {
  color: @whiteText !important;
 }

::ng-deep mat-form-field  input {
  caret-color: white !important;
}

::ng-deep.mat-form-field-underline {
  display: none;
  background-color: @whiteText !important;
} 

::ng-deep.mat-form-field-ripple {
 background-color: @whiteText !important;
}*/