.left-sidebar {
  width: 388px;
  height: calc(100vh - 84px);
  position: absolute;
  padding-bottom: 52px;
  border-radius: 12px;
  box-shadow: 0px 12px 17px rgba(0, 0, 0, 0.14), 0px 5px 22px rgba(0, 0, 0, 0.12), 0px 7px 8px rgba(0, 0, 0, 0.2);
  top: 16px;
  left: 16px;
  overflow: hidden;
  z-index: 1000;
}
