@import '../../../../colors.less';

.left-sidebar {
  width: 388px;
  height: calc(100vh - 84px);
  position: absolute;
  padding-bottom: 52px;
  border-radius: 12px;
  box-shadow: @shadowBlock;
  top: 16px;
  left: 16px;
  overflow: hidden;
}