# THIS LOCAL APP CONFIG
APP_HOST="http://127.0.0.1"
APP_PORT=12001

# server
SERVER_PORT_INNER=8080
SERVER_PORT_OUTER=12006

# postgres
PG_HOST=database
PG_USER=postgres
PG_PASSWORD=postgres
PG_NAME=postgres
PG_PORT=5432
PG_POOL_MAX_CONNS=10

# pgadmin
PGADMIN_PORT=12003
PGADMIN_DEFAULT_EMAIL=dakulikov2001@mail.ru
PGADMIN_DEFAULT_PASSWORD=postgres
